@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
@section JS{
    <script type="text/javascript">
        $(function () {
            //url定向
            var actionUrl = {
                GetList: '/NetRequirement/GetList',
                GetVersion: '/NetRequirement/GetVersionList',
                GetPlanner: '/NetRequirement/GetPlanner',
                GetGroup: '/NetRequirement/GetProductGroupList',
            }
            $(document).ready(function () {
                //加载版本
                $('#queryVersion').combobox({
                    url: actionUrl.GetVersion,
                    valueField: 'iID',
                    textField: 'iText',
                    onLoadSuccess: function () { //加载完成后,val[0]写死设置选中第一项
                        var val = $(this).combobox("getData");
                        for (var item in val[0]) {
                            if (item == "iID") {
                                $(this).combobox("select", val[0][item]);
                            }
                        }
                        getList();
                    }
                });

                //alert($('#queryVersion').combobox('getValue'));

                //加载计划员
                $('#queryPlanner').combobox({
                    url: actionUrl.GetPlanner,
                    valueField: 'iID',
                    textField: 'iText'
                });

                //加载项目组
                $('#queryGroup').combobox({
                    url: actionUrl.GetGroup,
                    valueField: 'iID',
                    textField: 'iText'
                });

                // 查询按钮
                $('#btnQuery').click(function () {
                    //alert($('#queryVersion').combobox('getValue'));
                    reloadData();
                });

                //初始化按钮
                $('#btnReset').click(function () {
                    $('#queryVersion').combobox('reset');
                    $('#queryPlanner').combobox('reset');
                    $('#queryGroup').combobox('reset');
                    reloadData();
                });

                
            });
            //重新加载grid
            function reloadData() {
                $('#grid').datagrid('loadData', { total: 0, rows: [] });
                $('#grid').datagrid('load', {
                    queryVersion: $('#queryVersion').combobox('getValue'),
                    queryPlanner: $('#queryPlanner').combobox('getValue'),
                    queryGroup: $('#queryGroup').combobox('getValue')
                });
            }
            function getList() {
                //alert($('#queryVersion').combobox('getValue'));
                // grid工具栏添加按钮
                $('#grid').datagrid({
                    url: actionUrl.GetList,
                    pagination: true,//分页
                    pageSize: 500,
                    pageList: [500, 1000, 1500, 2000],
                    queryParams: {
                        queryVersion: $('#queryVersion').combobox('getValue'),
                        queryPlanner: $('#queryPlanner').combobox('getValue'),
                        queryGroup: $('#queryGroup').combobox('getValue')
                    },
                    toolbar: [
                    ],
                    columns: [
                        [
                            { field: 'sPartID', title: '产品编码', width: 150, },
                            {
                                field: 'fQTY', title: '订单数量', width: 80,
                                editor: 'number',
                            },
                            {
                                field: 'fOpenQTY', title: '未完成数量', width: 80,
                                editor: 'number',
                            },
                            {
                                field: 'dtmDue', title: 'Due Date', width: 80,
                                //formatter: function (value, row, index) {
                                //    return DateTimeFormatter(value);
                                //},
                                //editor: 'datebox',
                            },
                            {
                                field: 'dtmRequirement', title: '需求日期', width: 80,
                                //formatter: function (value, row, index) {
                                //    return DateTimeFormatter(value);
                                //},
                                //editor: 'datebox',
                            },
                            { field: 'sSourceType', title: '来源', width: 80, },
                            { field: 'sNO', title: '单据号', width: 80, },
                            { field: 'sPlannerCode', title: '计划员', width: 80, },
                            { field: 'sProductGroup', title: '项目组', width: 80, },
                        ]
                    ],
                });
            }
           
        });
    </script>
}
<body class="easyui-layout">
    <!-- 顶部 -->
    <div data-options="region:'north'" style="height:34px" >
        <table>
            <tr>
                <td>版本：</td>
                <td>
                    <input class="easyui-combobox" name="queryVersion" id="queryVersion" />
                </td>
                <td>计划员：</td>
                <td>
                    <input class="easyui-combobox" name="queryPlanner" id="queryPlanner" >
                </td>
                <td>项目组：</td>
                <td>
                    <input class="easyui-combobox" name="queryGroup" id="queryGroup" >
                </td>
                <td>
                    <a id="btnQuery" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">Search</a>
                    <a id="btnReset" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" style="width:80px">Reset</a>
                </td>
            </tr>
        </table>
    </div>
    <!-- 列表 -->
    <div data-options="region:'center'" style="padding:2px;">
        <table id="grid" class="easyui-datagrid" style="border-bottom:none;" title="List" data-options="rownumbers:true,singleSelect:true,collapsible:false,fit:true"></table>
    </div>
</body>