@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
@section JS{
    <script type="text/javascript">
        $(function () {
            //url定向
            var actionUrl = {
                GetList: '/CurrentStock/GetList',
                GetVersion: '/CurrentStock/GetVersionList',
                GetWarehouse: '/CurrentStock/GetWarehouse',
            }

            $(document).ready(function () {
                //加载版本
                $('#queryVersion').combobox({
                    url: actionUrl.GetVersion,
                    valueField: 'iID',
                    textField: 'iText',
                    onLoadSuccess: function () { //加载完成后,设置选中第一项
                        var val = $(this).combobox("getData");
                        for (var item in val[0]) {
                            if (item == "iID") {
                                $(this).combobox("select", val[0][item]);
                            }
                        }
                        getList();
                    },
                });

                //加载仓库
                $('#queryWarehouse').combobox({
                    url: actionUrl.GetWarehouse,
                    valueField: 'iID',
                    textField: 'iText'
                });

                // 查询按钮
                $('#btnQuery').click(function () {
                    reloadData();
                });

                //初始化按钮
                $('#btnReset').click(function () {
                    $('#queryVersion').combobox('reset');
                    $('#queryWarehouse').combobox('reset');
                    $('#queryName').textbox('reset');
                    reloadData();
                });
            });
            

            //重新加载grid
            function reloadData() {
                $('#grid').datagrid('loadData', { total: 0, rows: [] });
                $('#grid').datagrid('load', {
                    queryVersion: $('#queryVersion').combobox('getValue'),
                    queryWarehouse: $('#queryWarehouse').combobox('getValue'),
                    queryName: $('#queryName').val()
                });
            }
            function getList() {
                // grid工具栏添加按钮
                $('#grid').datagrid({
                    url: actionUrl.GetList,
                    pagination: true,//分页
                    pageSize: 500,
                    pageList: [500, 1000, 1500, 2000],
                    queryParams: {
                        queryVersion: $('#queryVersion').combobox('getValue'),
                        queryWarehouse: $('#queryWarehouse').combobox('getValue'),
                        queryName: $('#queryName').val()
                    },
                    toolbar: [
                    ],
                    columns: [[
                        { field: 'sItemNo', title: '物料编码', width: 150, },
                        { field: 'dQty', title: '数量', width: 80, },
                        { field: 'Warehouse', title: '仓库', width: 80, },
                    ]],
                });
            }

            
        });

        //格式化日期
        function DateTimeFormatter(value) {
            if (value == undefined) {
                return "";
            }
            if (value.length == 10) {
                return value;
            }
            try {
                value = value.substr(1, value.length - 2);
                var obj = eval('(' + "{Date: new " + value + "}" + ')');
                var dateValue = obj["Date"];
                return dateValue.format("yyyy-mm-dd");
            }
            catch (e) {
                return "";
            }
        }

        //格式化日期
        Date.prototype.format = function (fmt) { //author: meizz
            var o = {
                "m+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "H+": this.getHours(), //小时
                "M+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }

        //格式化字符串
        function StringFormatter(value) {
            if (value == undefined) {
                return "";
            }
            return value;
        }

    </script>
}
<body class="easyui-layout">
    <!-- 顶部 -->
    <div data-options="region:'north'" style="height:34px" >
        <table>
            <tr>
                <td>版本：</td>
                <td>
                    <input class="easyui-textbox" type="text" name="queryVersion" id="queryVersion" />
                </td>
                <td>仓库：</td>
                <td>
                    <input class="easyui-combobox" name="queryWarehouse" id="queryWarehouse" >
                </td>
                <td>物料编码：</td>
                <td>
                    <input class="easyui-textbox" type="text" name="queryName" id="queryName" />
                </td>
                <td>
                    <a id="btnQuery" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">Search</a>
                    <a id="btnReset" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" style="width:80px">Reset</a>
                </td>
            </tr>
        </table>
    </div>
    <!-- 列表 -->
    <div data-options="region:'center'" style="padding:2px;">
        <table id="grid" class="easyui-datagrid" style="border-bottom:none;" title="List" data-options="rownumbers:true,singleSelect:true,collapsible:false,fit:true"></table>
    </div>
</body>