.TableUpdate
{
	/*old
	padding:5px 5px 5px 5px;
	margin:15px 5px 5px 5px;
	border:0;
	margin-left:auto;
	margin-right:auto;
	border-collapse:collapse;
	width:98%;
	background:#A2C4E2;*/
	width: 100%; 
	border: 1px #54b3f6 solid; /*54b3f6*/
	border-collapse: collapse; 
	float:left; 
	padding:1px; 
	margin:1px; 
	
}
.TableUpdate td.tdtitle 
{ 
	padding:1px 1px; 
	text-align:left; 
	font-weight:bold;
	background-color: #ECF3F9; 
	/*border-collapse:collapse; */
} 
.TableUpdate td
{
	padding:1px 1px; 
	border: 1px #cdd2ef solid; /*CADEF9*/
	/*border-collapse:collapse; */
}
/*
.TableUpdate th
{
	text-align:left;
	white-space:nowrap;
	border:solid 1px #A2C4E2;
}

.TableUpdate td
{
	border:solid 1px #A2C4E2;
	padding:5px 5px 5px 5px;
	margin:15px 5px 5px 5px;
}
*/
.TableUpdate .tdinput
{
	text-align:left;
	/*white-space:nowrap;*/
	width:25%;
	/*border:solid 1px #A2C4E2;*/
	padding:1px 1px 1px 1px;
	margin:1px 1px 1px 1px;
}

.TableUpdate .tdlbl
{
	/*old
	text-align:right;
	font-weight:bold;
	width:15%;
	padding:5px 5px 5px 5px;
	margin:5px 5px 5px 5px;*/
	padding:1px 1px; 
	width: 10%; 
	text-align:right;
	/*border-bottom: 1px #CADEF9 solid;*/ /*f3f3f3*/
	/*border-right: 1px #CADEF9 solid; */
	background-color: #FAFCFD; 
	color:#666666; 
	border-collapse:collapse; 
}

.TableUpdate .tdlbl
{
	/*old
	text-align:right;
	font-weight:bold;
	width:15%;
	padding:5px 5px 5px 5px;
	margin:5px 5px 5px 5px;*/
	padding:1px 1px; 
	width: 10%; 
	text-align:left;
	/*border-bottom: 1px #CADEF9 solid;*/ /*f3f3f3*/
	/*border-right: 1px #CADEF9 solid; */
	background-color: #FAFCFD; 
	color:#666666; 
	border-collapse:collapse; 
}

.TableUpdate td.tdbottom 
{ 
padding:1px 1px; 
text-align: right; 
background-color: #FAFCFD; 
/*border-bottom: 1px #CADEF9 solid; */
} 
/*
.TableUpdate td.tdcenter
{
	text-align:center;
	font-weight:bold;
	width:15%;
	padding:5px 5px 5px 5px;
	margin:5px 5px 5px 5px;
}*/

.TableOuter
{
	width:100%; 
	border: 0;
}
.TableOuter td
{
	border: 0;
}