@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
@section JS{
    <script type="text/javascript">
        $(function () {
            var actionUrl = {
                GetList: '/PMGating/GetList',
                GetPlanner: '/PMGating/GetPlanner',
                GetGroup: '/PMGating/GetProductGroupList',
                GetBuyer: '/PMGating/GetBuyerList',
                GetVersion: '/PMGating/GetVersionList',
            }

            function reloadData() {
                $('#grid').datagrid('load', {
                    queryName: $('#queryName').val(),
                    queryVersion: $('#queryVersion').combobox('getValue'),
                    queryPlanner: $('#queryPlanner').combobox('getValue'),
                    //queryBuyer: $('#queryBuyer').combobox('getValue'),
                    queryGroup: $('#queryGroup').val()
                });
            }

            //加载版本
            $('#queryVersion').combobox({
                url: actionUrl.GetVersion,
                valueField: 'iID',
                textField: 'iText',
                onLoadSuccess: function () { //加载完成后,设置选中第一项
                    var val = $(this).combobox("getData");
                    for (var item in val[0]) {
                        if (item == "iID") {
                            $(this).combobox("select", val[0][item]);
                        }
                    }
                    getList();
                },
            });

            //加载计划员
            $('#queryPlanner').combobox({
                url: actionUrl.GetPlanner,
                valueField: 'iID',
                textField: 'iText'
            });

            //加载项目组
            $('#queryGroup').combobox({
                url: actionUrl.GetGroup,
                valueField: 'iID',
                textField: 'iText',
                multiple: true,//设置可以多选
                formatter: function (row) { //formatter方法就是实现了在每个下拉选项前面增加checkbox框的方法
                    var opts = $(this).combobox('options');
                    return '<input type="checkbox" class="combobox-checkbox">' + row[opts.textField] + '</input>'
                },
                onLoadSuccess: function () {  //下拉框数据加载成功调用
                    var opts = $(this).combobox('options');
                    var target = this;
                    var values = $(target).combobox('getValues');//获取选中的值的values
                    $.map(values, function (value) {
                        var el = opts.finder.getEl(target, value);
                        el.find('input.combobox-checkbox')._propAttr('checked', true);
                    })
                },
                onSelect: function (row) { //选中一个选项时调用
                    var opts = $(this).combobox('options');
                    //获取选中的值的values
                    $("#queryGroup").val($(this).combobox('getValues'));

                    //设置选中值所对应的复选框为选中状态
                    var el = opts.finder.getEl(this, row[opts.valueField]);
                    el.find('input.combobox-checkbox')._propAttr('checked', true);
                },
                onUnselect: function (row) {//不选中一个选项时调用
                    var opts = $(this).combobox('options');
                    //获取选中的值的values
                    $("#queryGroup").val($(this).combobox('getValues'));

                    var el = opts.finder.getEl(this, row[opts.valueField]);
                    el.find('input.combobox-checkbox')._propAttr('checked', false);
                },
            });
            ////加载采购员
            //$('#queryBuyer').combobox({
            //    url: actionUrl.GetBuyer,
            //    valueField: 'iID',
            //    textField: 'iText'
            //});
            function getList() {
                // grid工具栏添加按钮
                $('#grid').datagrid({
                    url: actionUrl.GetList,
                    pagination: true,//分页
                    pageSize: 500,
                    pageList: [500, 1000, 1500, 2000],
                    queryParams: {
                        queryName: $('#queryName').val(),
                        queryVersion: $('#queryVersion').combobox('getValue'),
                        queryPlanner: $('#queryPlanner').combobox('getValue'),
                        //queryBuyer: $('#queryBuyer').combobox('getValue'),
                        queryGroup: $('#queryGroup').val()
                    },
                    toolbar: [
                    ],
                    columns: [[
                        { field: 'ProGroup', title: 'Product group', width: 120, },
                        { field: 'PartID', title: 'Top level', width: 120, },
                        { field: 'Qty', title: 'Requested Qty', width: 120, },
                        { field: 'dtmPeriod', title: 'Reqiested date', width: 120, },
                        { field: 'FullkitQty', title: 'Full kit Qty', width: 120, },
                        { field: 'NonfullkitQty', title: 'Non-full kit Qty', width: 120, },
                        {
                            field: 'Details', title: 'Details', width: 120,
                            formatter: function (value, rec) {
                                var btn = '<a class="editcls" onclick="editRow(\'' + rec.iID + '\',\'' + $('#queryVersion').combobox('getValue') + '\')" href="javascript:void(0)">明细</a>';
                                return btn;
                            }
                        },
                    ]],
                });
            }
            // 查询按钮
            $('#btnQuery').click(function () {
                reloadData();
            });

            $('#btnReset').click(function () {
                $('#queryVersion').combobox('reset');
                $('#queryPlanner').combobox('reset');
                $('#queryName').textbox('reset');

                $('#queryGroup').combobox('clear');//清空选中项
                $('#queryGroup').val('');
                $('#queryGroup').combobox('loadData', {});
                $('#queryGroup').combobox('reload');

                reloadData();
            });
        });

        Date.prototype.format = function (fmt) { //author: meizz
            var o = {
                "m+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "H+": this.getHours(), //小时
                "M+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }

        function editRow(iID, queryVersion) {
            $('#win_edit').window('open');
            // grid工具栏添加按钮
            $('#grid_details').datagrid({
                url: '/PMGating/GetDetails',
                pagination: true,//分页
                pageSize: 500,
                pageList: [500, 1000, 1500, 2000],
                queryParams: { queryiID: iID, queryVersion: queryVersion },
                toolbar: [
                ],
                columns: [[
                    { field: 'PN', title: 'P/N', width: 120, },
                    { field: 'QtyETA', title: 'Qty/ETA', width: 120, },
                ]],
            });
        }
    </script>
}
<body class="easyui-layout">
    <!-- 顶部 -->
    <div data-options="region:'north'" style="height:34px" >
        <table>
            <tr>
                <td>版本：</td>
                <td>
                    <input class="easyui-combobox" type="text" name="queryVersion" id="queryVersion" />
                </td>
                <td>产品编码：</td>
                <td>
                    <input class="easyui-textbox" type="text" name="queryName" id="queryName" />
                </td>
                <td>Planner：</td>
                <td>
                    <input class="easyui-combobox" name="queryPlanner" id="queryPlanner" >
                </td>
                @*<td>Buyer：</td>
                <td>
                    <input class="easyui-combobox" name="queryBuyer" id="queryBuyer" >
                </td>*@
                <td>Product Group：</td>
                <td>
                    <input class="easyui-combobox" name="queryGroup" id="queryGroup" editable="false">
                </td>
                <td>
                    <a id="btnQuery" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">Search</a>
                    <a id="btnReset" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" style="width:80px">Reset</a>
                </td>
                
            </tr>
        </table>
    </div>
    <!-- 列表 -->
    <div data-options="region:'center'" style="padding:2px;">
        <table id="grid" class="easyui-datagrid" style="border-bottom:none;" fit="true" title="List" data-options="rownumbers:true,singleSelect:true,collapsible:false"></table>
    </div>
    <!-- 弹窗 （添加、编辑） -->
    <div id="win_edit" class="easyui-window" title="明细" data-options="modal:true,closed:true,resizable:false,collapsible:false,minimizable:false,maximizable:false" style="width:500px;height:500px;padding:10px;">
        <table id="grid_details" class="easyui-datagrid" style="border-bottom:none;" fit="true" title="List" data-options="rownumbers:true,singleSelect:true,collapsible:false"></table>
    </div>
</body>